{% extends "_layout.twig" %}
{% block content %}
    <div class="main-background2"></div>
    <div class="container">
    <div class="blog-content">
        <h1 class="headline">{{ entry.headline }}</h1>
        <div class="content-wrapper">
            <div class="blog-post">
                <img src="{{ entry.headerImage.first().getUrl() }}" alt="Faded Siding">
                <div class="top-text">
                    {{ entry.text }}
                </div>
                <div class="border">
                    <div class="white-background">
                        {{ entry.body }}
                    </div>
                </div>
            </div>
            {% include "_testimonials.twig" %}
        </div>
    </div>
{% endblock %}